POSTGRES_DB=postgres
POSTGRES_USER=autoshop-admin
POSTGRES_PASSWORD=pass
POSTGRES_PORT=5433

REDIS_PORT=6379

KAFKA_PUBLIC_PORT=9092

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

MAILHOG_SMTP_PORT=1025
MAILHOG_UI_PORT=8025
