spring.config.activate.on-profile=local

spring.datasource.url=jdbc:postgresql://localhost:5433/postgres
spring.datasource.username=autoshop-admin
spring.datasource.password=pass

spring.data.redis.host=localhost
spring.data.redis.port=6379

spring.kafka.bootstrap-servers=localhost:9092

app.minio.url=http://localhost:9000
app.minio.access-key=minioadmin
app.minio.secret-key=minioadmin

spring.mail.host=localhost
spring.mail.port=1025
